* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  :root {
    --primary-text: #4252a8;
    --text-color: white;
    --text-color2: #0a0a17;
    --background-color: white;
    --color-nav-box: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%);
    --font-size-title: 1.2em;
    --font-size-content: 17px;
    --font-size-title2: 30px;
  }
  .root {
    background-color: var(--background-color);
  }
  .view-sobre-mi,
  .view-home,
  .view-portafolio,
  .view-proximamente,
  .view-aprende-conmigo {
    background-color: var(--background-color);
  }
  
  .nav {
    display: flex;
    /* border-bottom: 2px solid #585858 ;*/
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 75px;
    padding: 0 20px;
    padding-top: 7.5px;
    background: var(--background-color);
    box-shadow: var(--color-nav-box);
    z-index: 100;
  }
  /*TODO button nav*/
  .button-menu {
    position: relative;
    top: -10px;
    display: none;
  }
  
  .button-menu .fas {
    display: none;
    border: none;
    background: none;
    font-size: 27px;
    font-size: 27px;
    color: var(--text-color2);
  
    padding: 0 10px;
  }
  
  .checkbox {
    display: none;
  }
  
  .logo-img.white {
    display: none;
  }
  .logo-img {
    position: relative;
    display: inline-block;
    height: 65px;
  }
  .logo-name {
    position: relative;
    display: inline-block;
    font-size: var(--font-size-title2);
    color: var(--primary-text);
    top: -20px;
  }
  .logo-name span {
    color: var(--text-color2);
  }
  .button-dark {
    background: var(--text-color2);
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    padding: 0;
    margin-right: -20px;
  }
  .button-dark:hover {
    cursor: pointer;
  }
  
  .button-dark-img {
    height: 25px;
  }
  .container-menu {
    display: inline;
    padding: 25px;
  }
  .container-links {
    width: 540px;
    display: flex;
    justify-content: space-around;
  }
  .container-links p {
    display: inline-block;
    /*padding:0px 32px;*/
    color: var(--text-color2);
    font-size: var(--font-size-content);
  }
  
  .container-links p:hover {
    color: var(--primary-text);
  }
  /*Home*/
  .home {
    padding: 155px 55px;
    height: 100%;
  }
  .img-home {
    max-width: 524.94px;
    max-height: 350px;
  }
  
  .container-dat-home {
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
  }
  .container-description {
    margin-top: -20px;
    color: var(--text-color2);
  }
  .container-description span {
    color: var(--primary-text);
    font-size: 20px;
    font-weight: bold;
  }
  .container-description .frontend-developer {
    margin-top: 30px;
    color: var(--text-color2);
  }
  .container-description .content {
    margin-top: 17px;
  }
  
  .container-button-proyect a {
    text-decoration: none;
    color: white;
  }
  
  .container-button-proyect,
  .resumen {
    display: inline-block;
    padding: 13px 20px;
    margin-top: 36px;
    border-radius: 6px;
    background: var(--primary-text);
    color: white;
    text-decoration: none;
    border: 1.5px solid var(--primary-text);
  }
  .container-button-proyect:hover,
  .resumen:hover {
    transition: 0.6s;
    color: var(--primary-text);
    background: white;
    border: 1.5px solid var(--primary-text);
    cursor: pointer;
  }
  .container-button-proyect:hover > a {
    color: var(--primary-text);
  }
  .container-button-resume {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .home {
    background: var(--background-color);
  }
  .is-dark-mode {
    --primary-text: #4252a8;
    --text-color2: white;
    --background-color: #0a0a17;
    --color-nav-box: 0 2px 4px -1px rgb(255 255 255 / 20%),
      0 4px 5px 0 rgb(255 255 255 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  }
  .is-light-mode {
    --primary-text: #4252a8;
    --text-color: white;
    --text-color2: #0a0a17;
    --background-color: white;
    --color-nav-box: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%);
  }
  /*footer*/
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dfdfe236;
    height: 120px;
    padding-top: 30px;
  }
  .footer .contact,
  .copyrright {
    color: black;
  }
  .container-contact-img img {
    height: 1.8em;
    width: 1.8em;
  }
  .container-contact-img {
    display: flex;
    width: 16em;
    margin: 10px;
    justify-content: space-between;
  }
  .footer-img:nth-child(2) img {
    width: 2em;
    height: 2em;
  }
  .footer-img:nth-child(3) img {
    width: 2em;
  }
  .footer-img:nth-child(5) img {
    width: 2.2em;
    height: 2.2em;
  }
  /*view proximamente*/
  .view-proximamente {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  /*main*/
  
  .main {
    padding-top: 80px;
    height: auto;
    margin: 0;
    background: var(--background-color);
  }
  .content-proximamente {
    text-align: center;
    size: 20em;
    color: var(--text-color2);
  }
  
  /*sobre-mi*/
  .content-presentation {
    display: flex;
    height: calc(100vh - 75px);
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color2);
  }
  .content-presentation-text {
    display: inline-block;
    text-align: start;
    letter-spacing: 0.5px;
    font-size: var(--font-size-content);
  }
  .presentation-text-title {
    margin: 20px 0px;
    color: var(--primary-text);
    font-size: var(--font-size-title);
  }
  
  .content-presentation-img img {
    transition: 1s;
    height: 400px;
    width: 400px;
  }
  
  /*sobremi skills*/
  
  .content-skills {
    display: grid;
    text-align: center;
    background: var(--primary-text);
  }
  .content-skills-tittle {
    padding: 35px 0px;
    color: var(--text-color2);
    font-size: 26px;
  }
  
  .container-skills-card {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .container-skills-flex {
    max-width: 650px;
    min-height: 450px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  
  .skills-element {
    margin: auto;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  /*card*/
  .skills-element {
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  }
  
  .skills-element {
    display: flex;
    justify-content: center;
  }
  
  .skills-element figure {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  }
  
  .skills-element figure img {
    width: 70%;
    height: 70%;
    margin-top: 30px;
    transition: all 500ms ease-out;
  }
  .skills-element:nth-child(1) figure img {
    width: 60%;
  }
  .skills-element:nth-child(7) figure img {
    width: 80%;
    height: 60%;
  }
  .skills-element figure .cloak {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(12, 4, 56, 0.8);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
  }
  .skills-element figure:hover > .cloak {
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease-out;
  }
  .skills-element figure:hover > .cloak h3 {
    transition: all 500ms ease-out;
    margin-top: 100px;
  }
  .skills-element figure:hover > img {
    transform: scale(1.2);
  }
  
  .skills-element figure .cloak h3 {
    color: #fff;
    font-weight: 400;
    transition: all 500ms ease-out;
    justify-content: center;
    font-size: 20px;
  }
  
  /*portafolio*/
  .portafolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--background-color);
    padding-top: 80px;
  }
  .portafolio-container-card {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
  .portafolio-container-card figure {
    margin: 30px;
    position: relative;
    height: 220px;
    max-width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  }
  .portafolio-container-card figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
  }
  
  .portafolio-container-card-capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 2, 95, 0.8);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
  }
  
  .portafolio-container-content-projects {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .portafolio-container-content-projects
    .portafolio-container-content-projects-button,
  .h3,
  .p {
    color: white;
    padding: 10px 0px;
  }
  
  .portafolio-container-content-projects-button {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
  }
  .portafolio-container-content-projects-button button {
    border-radius: 6px;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    transform: translateY(250px);
    text-decoration: none;
    color: #4252a8;
  }
  
  .portafolio-container-content-projects-button a {
    font-size: 20px;
    font-weight: 400;
  }
  
  .portafolio-container-card figure:hover > .portafolio-container-card-capa {
    opacity: 1;
    visibility: visible;
  }
  .portafolio-container-card
    figure:hover
    > .portafolio-container-card-capa
    button {
    transition: all 500ms ease-out;
    transform: translateY(0px);
  }
  .portafolio-container-card figure:hover > img {
    transform: scale(1.3);
  }
  
  /*media nav*/
  
  @media (max-width: 950px) {
    /*Nav responsive*/
  
    .container-links {
      visibility: hidden;
      position: absolute;
    }
    .nav {
      padding-top: 10px;
      box-shadow: var(--color-nav-box);
    }
    .button-menu {
      display: inline;
    }
    .button-menu .fas {
      display: inline;
    }
    .logo-img {
      height: 55px;
    }
    .logo-name {
      font-size: var(--size-title);
    }
    .button-dark {
      height: 27px;
      min-width: 27px;
    }
  
    .button-dark-img {
      height: 15px;
    }
    .container-links-visible {
      transition: 0.2s;
      visibility: visible;
      position: absolute;
      top: 75px;
      left: 0px;
      background: var(--background-color);
      width: 100vw;
      height: 100vh;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      z-index: -1;
    }
    .container-links a {
      margin-top: -105px;
    }
    /*home*/
    /*.container-button-proyect{
         visibility:hidden;
      }*/
    .container-dat-home {
      flex-direction: column-reverse;
    }
    .img-home {
      width: 100%;
    }
    .container-description {
      margin-top: 35px;
    }
    /*sobremi-responsibe*/
  
    .content-presentation {
      flex-direction: column-reverse;
      padding: 100px 20px;
      text-align: center;
      margin: 0px 20px;
      height: 100%;
    }
  }
  @media (max-width: 386px) {
    .content-presentation img {
      transition: 1s;
      width: 250px;
      height: 250px;
    }
  }
  /*
  @media(prefers-color-scheme:dark){
      .nav{
          background: var(--background-dark);
          box-shadow: 0 2px 4px -1px rgb(255 255 255 / 20%), 0 4px 5px 0 rgb(255 255 255 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  
      }
      .logo-img.dark{
          display:none;
      }
      .logo-img.white{
          display:inline;
      }
      .logo-name{
          color:var(--primary-text);
      }
      .logo-name span{
          color:var(--primary-text);
      }
      .button-dark{
          background:white;
      }
      .container-links p{
          color: white;
      }
      .luna{
          display: none;
      }
      .sol{
          display: inline;
          min-width:40px;
      }
      /*Home*/
  /* .home{
          background:var(--background-dark);
          color:white;
      }
      .container-description .frontend-developer{
          color: white;
      }
      
      
  }*/
  